# - name: Deploy scientific calculator docker image
#   hosts: app_servers
#   become: true
#   vars:
#     docker_image: "rlakshmandocker/miniproj_image1"
#     docker_tag: "1.0"
#   tasks:
#     - name: Ensure apt cache is up to date
#       apt:
#         update_cache: yes
#       when: ansible_os_family == 'Debian'

#         #   - name: Install docker
#         #pt:
#         #name: docker.io
#         #state: present
#         #when: ansible_os_family == 'Debian'

#     - name: Ensure docker service is started
#       service:
#         name: docker
#         state: started
#         enabled: yes

#     - name: Pull latest image
#       community.docker.docker_image:
#         name: "{{ docker_image }}"
#         tag: "{{ docker_tag }}"
#         source: pull

#     - name: Remove existing container if present
#       community.docker.docker_container:
#         name: maven_app
#         state: absent
#         force_kill: yes

#     - name: Run container
#       community.docker.docker_container:
#         name: maven_app
#         image: "{{docker_image}}:{{docker_tag}}"
#         state: started
#         restart_policy: always
#         ports:
#           - "8081:8080"
#         detach: yes

- name: Deploy scientific calculator docker image
  hosts: app_servers
  gather_facts: yes
  become: false        # don't escalate for facts
  vars:
    docker_image: "rlakshmandocker/miniproj_image1"
    docker_tag: "1.0"
  collections:
    - community.docker

  tasks:
    - name: Update apt cache (Debian/Ubuntu only)
      apt:
        update_cache: yes
      when: ansible_os_family == 'Debian'
      become: true

    - name: Install Docker and Python SDK (Debian/Ubuntu)
      apt:
        name:
          - docker.io
          - python3-docker
        state: present
      when: ansible_os_family == 'Debian'
      become: true

    - name: Ensure docker service is started
      service:
        name: docker
        state: started
        enabled: yes
      become: true

    - name: Pull image
      community.docker.docker_image:
        name: "{{ docker_image }}"
        tag: "{{ docker_tag }}"
        source: pull
      # Needs access to the docker socket; keep become if the user isn't in the docker group
      become: true

    - name: Remove existing container if present
      community.docker.docker_container:
        name: maven_app
        state: absent
        force_kill: yes
      become: true

    - name: Run container
      community.docker.docker_container:
        name: maven_app
        image: "{{ docker_image }}:{{ docker_tag }}"
        state: started
        restart_policy: always
        ports:
          - "8081:8080"
        detach: yes
      become: true
